body {
    background-color: #FAF7F0;
}

h1 {
    color: #98A8F8;
}

h2 {
    color: #98A8F8;
}

h3 {
    color: #98A8F8;
}



hr {
    border-style: none;
    border-color: LightGrey;
    border-width: 8px;
    border-top-style: dotted;
    width: 8%
}

table {
    border-spacing: 2px;
}