body {
    background-color: #FAF7F0;
}

hr {
    border-style: none;
    border-color: LightGrey;
    border-width: 8px;
    border-top-style: dotted;
    width: 8%
}

table {
    border-spacing: 2px;
}